.comments{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.comments h3 {
    margin: 20px auto;
    text-align: center;
}

.link{
    color:lightgray
}

.link:hover{
    color:#212529;
}

.form{
    width: 55vw;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.formReply{
    width: 52vw;
    height: 80px;
    padding: 10px;
    margin:20px 10px auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.formGroup{
    width: 40vw;
}

.replyGroupItem{
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 10px;
}

.formGroupReply{
    width: 90%;
}

.listGroup{
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

.commentItem{
    display: flex;
    align-items: center;
}
